* {
    box-sizing: border-box;
}

body {
    background-color: #111418;
}

.container {
    height: 97vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.controlsContainer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0.5em;
    gap: 0.5em;

}

.controls {
    padding: .5em;
    color: whitesmoke;
    outline: none;
    border: none;
    border-radius: 15px;
    background: #111418;
    box-shadow: 2px 2px 3px #07080a,
        -2px -2px 3px #1b2026;
}

.controls:hover {
    outline: none;
    border: none;
    border-radius: 15px;
    background: #111418;
    box-shadow: 2px 2px 3px #07080a,
        -2px -2px 3px #1b2026;
}

.controls:active {
    border-radius: 15px;
    background: #111418;
    box-shadow: inset 2px 2px 3px #07080a,
        inset -2px -2px 3px #1b2026;
}

textarea {
    height: 100%;
    width: 100%;
    resize: none;
    background: transparent;
    border-color: transparent;
    border-radius: 15px;
    padding: 15px;
}


textarea:focus {
    outline: none;
    border-radius: 16px;
    background: #111418;
    box-shadow: inset 8px 8px 15px #07080a,
        inset -8px -8px 15px #1b2026;
}

textarea::-webkit-scrollbar {
    width: .6rem;

}

textarea::-webkit-scrollbar- {
    width: .6rem;

}

textarea::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
    outline: none;
    border-radius: 15px;
}

#font,
#student,
#fontSize {
    width: 6rem;
}

#glow {
    width: 3rem;
}