body {
    background-color: #111418;
}

.container {
    height: 97vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.controlsContainer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0.5em;
    gap: 0.5em;
}

.controls {
    padding: .5em;
    background-color: transparent;
    color: whitesmoke;
    outline: none;
    border: none;
}

option {
    color: black;
}


.controls:hover {
    border-radius: 15px;
    background: linear-gradient(145deg, #12151a, #0f1216);
    box-shadow: 2px 2px 3px #07080a,
        -2px -2px 3px #1b2026;
}

textarea {
    height: 90%;
    width: 95%;
    resize: none;
    background: transparent;
    border-color: transparent;
    border-radius: 15px;
}


textarea:focus {
    outline: none;
    border-radius: 15px;
    background: #111418;
    box-shadow: 5px 5px 9px #0d0f12,
        -5px -5px 9px #15191e;
}

textarea::-webkit-scrollbar {
    width: .6rem;

}

textarea::-webkit-scrollbar- {
    width: .6rem;

}

textarea::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
    outline: none;
    border-radius: 15px;
}

#font,
#student,
#fontSize {
    width: 6rem;
}

#glow {
    width: 3rem;
}