body {
    background-color: black;
}

.container {
    background-color: rgba(255, 255, 255, 0.02);
    height: 97vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
}

.controlsContainer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.controls {
    border-radius: 0.8rem;
    margin: 0.2rem;
    padding: 0.2rem;
    border: transparent;
}

textarea {
    background-color: rgba(255, 255, 255, 0.02);
    height: 90%;
    width: 95%;
    padding: 1rem;
    font-size: 3rem;
    resize: none;
    border-radius: 1rem;
}

#font,
#student {
    width: 9rem;
}

#fontSize,
#glow {
    width: 3rem;
}

#color {
    width: 3rem;
    padding: 2px;
}